@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}

/* General styles */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 48px 0px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  background-color: var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border-color: var(--color-brand-normal);
  cursor: pointer;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  line-height: 1.5;
}

.link:hover {
  color: var(--color-brand-normal);
  text-decoration: underline;
}

/* Hero section */
.hero-section {
  padding: 272px 20px;
  background-image: url(../images/hero-section-background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Header */
.header {
  background-image: none;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  align-items: center;
  flex-grow: 1;
  display: flex;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Advantages section */
.advantages-section {
  padding: 16px;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

/* Section titles */
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.formats-title {
  margin-bottom: 80px;
}

.contacts-title {
  margin-bottom: 16px;
}

/* Traditions section */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

/* Chefs section */
.chef-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -15px 15px 0px var(--color-primary-light),
    -15px 15px 0px 2px var(--color-secondary-dark);
}

.chefs-title {
  margin: 0 auto 80px;
  max-width: 540px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* Formats section */
.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contacts section */
.contacts-title {
  margin-bottom: 16px;
}

/* Footer */

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
  text-decoration: underline;
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* fdfdf */
