.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }

  &__image {
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -10px 10px 0px var(--color-primary-light),
      -10px 10px 0px 2px var(--color-secondary-dark);

    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      border-radius: 4px 4px 4px 200px;
      box-shadow: -15px 15px 0px var(--color-primary-light),
        -15px 15px 0px 2px var(--color-secondary-dark);
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
  }
}
