.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 24px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    flex-shrink: 0;
    height: 176px;
    margin: 0 -24px;
    border-radius: 16px;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      width: 320px;
      height: 500px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    margin: 0 auto 16px;
    display: block;
  }

  &__title {
    margin-bottom: 16px;
  }
}
